html {
  background: #839695;
}
body {
  height: 10px;
}

.header__link {
  text-decoration: none;
}

.header__title {
  color: #fff;
  font-family: " Roboto Slab";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.title__span {
  color: #fff;
  font-family: Roboto Slab;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container {
  height: 1318px;

}

header {
  padding: 0px;
}

.card__img {
  color: transparent;
  margin-top: 0px;
  margin-left: -12px;
  width: 420px;
  height: 299px;
}

.p-3 {
  height: 70px;
  margin-left: -316px;
}
.container-content {
  background: #839695;
}

.row-wrapper {
  margin-top: 10px;
  margin-left: -73px;
}

.row {
  gap: 87px;
  width: 1565px;
}

.card-text {
  color: #fff;

  text-align: center;
  font-family: Roboto Slab;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content__title {
  color: #fff;
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 64px;
}

.content__img {
  width: 1198px;
  height: 448px;
  margin-top: 10px;
}

.content__description {
  color: #000;

  font-family: Roboto Slab;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 30px;
  width: 1191px;
  height: 448px;
  flex-shrink: 0;
}

.content-comment {
  width: 1198px;
  height: 167px;
  flex-shrink: 0;
  background-color: #ffffff;
  padding: 19px 35px;
  margin-bottom: 10px;
}
.comment__title {
  color: #000;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.comment__text {
  color: #000;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
